
.App {
  margin: 0;
  font-family: 'Intro Thin';
  src: url('../Intro\ Thin\ Regular.otf');
  box-sizing: border-box;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.footer {
  width: 100vw;
  img {
    width: 150px;
  }
}

.icon {
  /* Text styles */
  font-size: 48px;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url(https://picsum.photos/1920/1080/);
    // url(https://picsum.photos/1920/1080/?random);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.widgetSection {
  top: 10vh;
  position: relative;
  width: 95vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;

  overflow: scroll;
  margin: 0;

  z-index: 10;
}

.widget {
  /* Positioning and sizing */
  width: 250px;
  height: 250px;
  margin: 5px;
  /* border: 2px solid black; */

  background-color: rgba(155, 155, 155, .15);
}