
.App {
  font-family: 'Intro Thin';
  src: url('../Intro\ Thin\ Regular.otf');
  background-color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  img {
    width: 150px;
  }
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Text styles */
  color: white;

  /* Background styles */
  background-image: linear-gradient(-110deg, rgb(235, 161, 0), rgb(66, 0, 97));
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
