.datetime {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90vw;
  margin-left: 15vw;
  margin-top: 0;

  color: rgba($color: white, $alpha: 0.8);

  .date {
    font-size: 2.5em;
    font-weight: normal;
    // margin: 10px;
  }
}


