.greetingWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;

  margin-top: 15vh;

  font-family: 'Intro Thin';
  src: url('../Intro\ Thin\ Regular.otf');
  color: white;

  h1 {
    font-size: 3.5em;
    font-weight: 500;
    height: 42px;
    margin: 5px;
  }

  .greetingName {
    color: red;
    font-size: 3.5em;
    font-weight: 900;
    font-family: 'Intro Light';
    src: url('../Intro\ Light\ Regular.otf');
  }

  .greetingTime {

  }
}


