.greetingWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 90vw;
  margin-top: 15vh;

  h1 {
    font-size: 4em;
    font-weight: normal;
    height: 42px;
    margin: 5px;
  }

  .greetingName {
    font-size: 4em;
    font-weight: normal;
  }
}


