.greetingWidget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 90vw;
  margin-top: 15vh;

  h1 {
    color: white;
    font-family: 'Intro Thin';
    font-size: 4em;
    font-weight: normal;
    height: 42px;
    margin: 5px;

    text-shadow: 0 0 5px rgb(255, 255, 255),
  }

  .greetingName {
    color: rgb(230, 243, 255);
    font-size: 4em;
    font-weight: normal;
    font-family: 'Intro Thin';

    text-shadow: 0 0 5px rgb(255, 255, 255),
  }

  .greetingTime {

  }
}


