.weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 90vw;
    margin-left: 10vw;
    font-family: 'Intro Thin';
    color: rgba($color: white, $alpha: .8);

    .temp {
        font-size: 2.5em;
        font-weight: normal;
    }

    .summary {
        margin-left: 15px;
        font-size: 2.5em;
        font-weight: normal;
    }

    .loader {
        margin-top: 10px;
        margin-left: 75px;
        color: rgba($color: white, $alpha: .8)
    }
}